extends layout

block content
  h1= title
  p Welcome to security analysis.
  p This is a tool that helps you to in deciding hold/sell a security.
    p
      | Buy recommendations are prevalent and stem from a variety of sources. However, few offer advice on when it is best to sell a position.
    ul
      li
        | It hits your price target. When initially buying a stock, astute investors establish a price target, or at least a range in which they would consider selling the position.
      li
        | A deterioration in fundamentals. Along with keeping track of a firm&rsquo;s stock price after establishing a price target, monitoring the performance of underlying business is important. A key reason to sell is if the business fundamentals decline.
      li
        | A better opportunity comes along. Opportunity cost is a benefit that could have been obtained by going with an alternative; always compare it with the potential gains that could be obtained by owning another stock.
      li
        | After a merger. The average takeover premium generally ranges between 20-40%. If lucky enough to own a stock that ends up being acquired for a significant premium, the best course of action may be to sell it.
    p
      | Deterioration in fundamentals and better opportunity are difficult to monitor. This tool will help you in your analysis of these two.
